# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/

# Flask
instance/
.webassets-cache

# Python dotenv
.env

# Node / React
node_modules/
build/
dist/

# Logs
*.log

# macOS
.DS_Store

# VSCode
.vscode/
