.game-card {
  scroll-snap-align: start;
  flex: 0 0 280px;
  user-select: none;
  background-color: var(--color-background-alt);
  border-radius: var(--card-border-radius);
  padding: 1rem;
  text-align: center;
  box-shadow: 0 4px 8px var(--color-shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  text-decoration: none; /* make it so it doesnt show as a link with an underline */
}

.game-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px var(--color-shadow-hover);
}

.game-card img {
  width: 100%;
  max-width: 280px;
  height: fit-content;
  max-height: 280px;
  border-radius: 6px;
  object-fit: cover;
}

.game-card p {
  margin-top: 0.6rem;
  font-weight: var(--font-weight-semibold);
  font-size: 1rem;
  color: var(--color-accent);
  user-select: none;
}


